environment:
  matrix:
    - JAVA_HOME: C:\\Users\\pierr\\.jdks\\openjdk-21.0.1

install:
  - cmd: choco install openjdk21

build_script:
  - cmd: javac src/*.java

test_script:
  - cmd: java -cp src NameSorterTest
