environment:
  matrix:
    - JAVA_HOME: C:\\Users\\pierr\\.jdks\\openjdk-21.0.1

build_script:
  - cmd: javac src/*.java

test_script:
  - cmd: cd src
  - cmd: name-sorter ./unsorted-names-list.txt
  - cmd: java NameSorterTest
